@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body, html {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
}

a, a:hover {
  text-decoration: none;
  color: #FFC312;
}

section {
  padding: 60px 0;
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
}

h2.section-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.container img {
  float: left;
  margin: 0 30px 5px 0;
  width: 25%;
  padding-top: 27px;
}

.containerCarousel {
  max-width: 960px;
}

.splash {
  background-image: url("../img/Tlo.png");
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.page-intro {
  margin: auto;
  text-align: center;
}

.main-title {
  font-family: "Roboto", sans-serif;
  color: #FFC312;
  margin: 0;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 75px;
  padding: 0 24px;
  color: white;
}

.main-subtitle {
  font-family: "Lora", serif;
  letter-spacing: 2px;
  margin: 24px 0 60px 0;
  font-weight: normal;
  color: #f7f1e3;
  font-size: 45px;
  font-weight: 700;
  font-variant: small-caps;
}

.btn {
  font-family: "Lora", serif;
  padding: 16px 24px 16px 24px;
  font-size: 16px;
  background-color: #FFC312;
  color: #000000;
  font-weight: 700;
  -webkit-box-shadow: 2px 4px 4px #ffffff;
          box-shadow: 2px 4px 4px #ffffff;
  -webkit-box-shadow: 0 4px gray;
          box-shadow: 0 4px gray;
  letter-spacing: 1px;
  border-radius: 8px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn:hover {
  background-color: #e8ad00;
  color: #000000;
}

.section-title:after {
  position: absolute;
  display: block;
  content: '';
  width: 50px;
  height: 7px;
  background: #FFC312;
  left: 50%;
  bottom: -12px;
  margin-left: -25px;
}

.section-intro {
  margin: 36px 0 0 0;
  text-align: justify;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.feature {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
  margin: 24px 0 0 0;
}

#features {
  height: 0px;
}

.feature a > i {
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 64px;
  background-color: #FFC312;
  border-radius: 50%;
  color: #444;
}

.feature-title {
  margin: 24px 0 0 0;
}

.feature-description {
  margin: 24px 0 0 0;
  padding: 0 24px;
}

#about {
  height: 0px;
}

.statement {
  background-image: url("../img/Tlo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-bottom: 20px;
}

.statement p, strong {
  margin: 0;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffe6;
  letter-spacing: 2px;
}

.quotes-wrapper {
  margin: -30px auto 0 auto;
  width: 70%;
}

.quote blockquote {
  padding: 0 36px;
  margin: 52px 0 0 0;
  color: #000000;
}

.quote footer {
  margin: 15px 0 0 0;
  padding: 0 30px;
  font-weight: 700;
  text-align: right;
}

.quotes {
  padding-left: 20%;
  padding-right: 20%;
}

#quotes {
  height: 0px;
}

section.diplomas {
  padding: 60px 0 0 0;
  height: 70%;
  max-height: 660px;
}

.diplomas-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 72px 0 0 0;
}

figure {
  position: relative;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}

.diplomas-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.diplomas-item:before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}

.diplomas-item figcaption {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.diplomas-item:hover:before, .diplomas-item:hover figcaption {
  display: block;
}

#myDiplomas {
  height: 0px;
}

#onTheWeb {
  height: 0px;
}

.containerNav {
  margin: 0 auto;
  padding: 0 20px;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid black;
}

.btnNav {
  display: block;
  float: left;
  position: relative;
  padding: 4px 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.btnNav:hover {
  background-color: #ffc312;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btnNav:active {
  top: 3px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.showMenu {
  cursor: pointer;
}

.containerNav img {
  text-align: left;
  height: 44px;
  width: 44px;
  z-index: 19999;
  border-radius: 8px;
  border: 2px solid #ffc312;
  position: absolute;
  top: 4px;
  right: 30px;
}

.containerNav img:hover {
  background-color: #ffedc8;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation ul li {
  display: inline-block;
  margin: 6px;
}

.navigation ul li a {
  font-size: 25px;
  color: black;
}

.i-animation {
  animation-name: i-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: i-animation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes i-animation {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes i-animation {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

#scroll-to-top {
  background-color: #FFC312;
  display: none;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 23px;
  border-radius: 50%;
  line-height: 45px;
  color: #444444;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
}

#scroll-to-top:hover {
  background-color: #f5cb4e;
  color: #444444;
  opacity: 0.8;
}

#myProjects {
  height: 0px;
}

#myProjects p {
  margin-bottom: 60px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-item img {
  width: 100%;
  height: 100%;
}

.flex-container {
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #3c3838;
}

.dyplomPion {
  height: 50%;
  border: 1px solid #3c3838;
}

.dyplomPoziom {
  height: 33.3333333%;
  border: 1px solid #3c3838;
}

.pion {
  width: 11.1111111%;
}

.poziom {
  width: 16.666666666%;
}

/* 1 kolumna */
.dyplomPion.leftTop:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: translateX(50%) translateY(50%) scale(2, 2);
          transform: translateX(50%) translateY(50%) scale(2, 2);
}

.dyplomPion.leftBottom:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: translateX(50%) translateY(-50%) scale(2, 2);
          transform: translateX(50%) translateY(-50%) scale(2, 2);
}

/* 2,3,5,6 kolumna */
.dyplomPoziom.Top:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: translateY(60%) scale(2.2, 2.2);
          transform: translateY(60%) scale(2.2, 2.2);
}

.dyplomPoziom.Center:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: scale(2.2, 2.2);
          transform: scale(2.2, 2.2);
}

.dyplomPoziom.Bottom:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: translateY(-60%) scale(2.2, 2.2);
          transform: translateY(-60%) scale(2.2, 2.2);
}

/* 4 kolumna */
.dyplomPion.Top:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: translateY(50%) scale(2, 2);
          transform: translateY(50%) scale(2, 2);
}

.dyplomPion.Bottom:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: translateY(-50%) scale(2, 2);
          transform: translateY(-50%) scale(2, 2);
}

/* 7  kolumna */
.dyplomPion.rightTop:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: translateX(-50%) translateY(50%) scale(2, 2);
          transform: translateX(-50%) translateY(50%) scale(2, 2);
}

.dyplomPion.rightBottom:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(2, 2);
          transform: translateX(-50%) translateY(-50%) scale(2, 2);
}

#mapid {
  height: 250px;
  width: 400px;
  border-radius: 2%;
}

.boxes {
  background-color: #11203E;
  padding: 80px 0;
}

.boxes .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 55%;
}

.boxes .box {
  text-align: center;
  color: #FFC312;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

footer p {
  margin: 15px 0;
}

.contact {
  text-align: center;
}

#contact {
  height: 0px;
}

.social-links {
  list-style-type: none;
  padding: 40px 0 0 0;
}

.social-links li {
  display: inline-block;
  border: 1px solid #FFC312;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 4%;
  font-size: 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.social-links li:hover {
  background: #FFC312;
}

.social-links li a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.social-links li a:hover {
  color: #ffffff;
}

@media (max-width: 1920px) {
  section.diplomas {
    max-height: 655px;
  }
  .box h6 {
    font-size: 32px;
    font-weight: bold;
  }
  .boxes.container {
    width: 65%;
  }
  #mapid {
    height: 300px;
    width: 550px;
  }
  .containerCarousel {
    max-width: 1600px;
  }
  .centerNavSliderCarousel {
    margin-top: 10px;
  }
}

@media (max-width: 1600px) {
  .btnNav {
    padding: 5px 6px;
  }
  .containerNav img {
    top: 3px;
    height: 40px;
    width: 40px;
  }
  section.diplomas {
    max-height: 538px;
  }
  .box h6 {
    font-size: 20px;
    font-weight: bold;
  }
  .boxes.container {
    max-width: 60%;
  }
  #mapid {
    height: 250px;
    width: 400px;
  }
  .containerCarousel {
    max-width: 1200px;
  }
  .centerNavSliderCarousel {
    margin-top: 7px;
  }
  .navigation ul li a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 960px) {
  .containerNav {
    width: 250px;
    position: absolute;
    right: 20px;
    top: 44px;
  }
  .containerNav img {
    top: -30px;
    right: -8px;
    height: 35px;
    width: 35px;
  }
  nav {
    position: absolute;
    margin: 0;
    top: 0;
    width: 100%;
    float: none;
  }
  .containerNav ul li {
    float: left;
    width: 100%;
    border: 2px solid #ffc312;
    margin: -1px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .containerNav ul li:first-child {
    border-radius: 8px 8px 0px 0px;
  }
  .containerNav ul li:last-child {
    border-radius: 0px 0px 8px 8px;
  }
  .containerNav ul li:hover {
    background-color: #ffc312;
    color: white;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .btnNav {
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 0;
  }
  a.btnNav {
    display: block;
    height: 27px;
    padding-top: 2px;
  }
  .features-wrapper {
    padding: 0px;
    display: block;
  }
  .feature {
    max-width: 100%;
    text-align: center;
    margin: 95px 10% 25px 10%;
  }
  section {
    padding: 30px 0;
  }
  .main-title {
    font-size: 50px;
  }
  .main-subtitle {
    font-size: 32px;
  }
  .section-title {
    font-size: 2rem;
    margin: 0 0 30px 0;
  }
  .statement p, strong {
    font-size: 2rem;
  }
  .containerCarousel {
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 0 10%;
  }
  .quotes {
    padding-left: 8%;
    padding-right: 8%;
  }
  .box h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-left: 18px;
  }
  #mapid {
    height: 200px;
    width: 300px;
  }
  .boxes .container {
    max-width: 80%;
  }
  section.diplomas {
    max-height: 640px;
  }
}

@media (max-width: 720px) {
  .pion {
    width: 20%;
  }
  .poziom {
    width: 30%;
  }
  section.diplomas {
    max-height: 390px;
  }
  .dyplomPoziom.minLeftTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(20%) translateY(60%) scale(2.2, 2.2);
            transform: translateX(20%) translateY(60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minLeftCenter:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(20%) scale(2.2, 2.2);
            transform: translateX(20%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minLeftBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(20%) translateY(-60%) scale(2.2, 2.2);
            transform: translateX(20%) translateY(-60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minRightTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-20%) translateY(60%) scale(2.2, 2.2);
            transform: translateX(-20%) translateY(60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minRightCenter:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-20%) scale(2.2, 2.2);
            transform: translateX(-20%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minRightBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-20%) translateY(-60%) scale(2.2, 2.2);
            transform: translateX(-20%) translateY(-60%) scale(2.2, 2.2);
  }
  .section-title {
    font-size: 1.6rem;
  }
  .statement p, strong {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 10px;
  }
  .container img {
    width: 37%;
  }
  .quote blockquote {
    padding: 0 0px;
    margin: 40px 0 0 0;
    color: #000000;
  }
  .boxes .container {
    max-width: 90%;
  }
}

@media (max-width: 580px) {
  section.diplomas {
    max-height: 420px;
  }
}

@media (max-width: 460px) {
  .pion {
    width: 25%;
  }
  .poziom {
    width: 37.5%;
  }
  section.diplomas {
    max-height: 360px;
  }
  .dyplomPion.leftTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(35%) translateY(35%) scale(1.7, 1.7);
            transform: translateX(35%) translateY(35%) scale(1.7, 1.7);
  }
  .dyplomPion.leftBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(35%) translateY(-35%) scale(1.7, 1.7);
            transform: translateX(35%) translateY(-35%) scale(1.7, 1.7);
  }
  .dyplomPion.rightTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-35%) translateY(35%) scale(1.7, 1.7);
            transform: translateX(-35%) translateY(35%) scale(1.7, 1.7);
  }
  .dyplomPion.rightBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-35%) translateY(-35%) scale(1.7, 1.7);
            transform: translateX(-35%) translateY(-35%) scale(1.7, 1.7);
  }
  .dyplomPoziom.rightTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-60%) translateY(60%) scale(2.2, 2.2);
            transform: translateX(-60%) translateY(60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.rightCenter:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-60%) scale(2.2, 2.2);
            transform: translateX(-60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.rightBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-60%) translateY(-60%) scale(2.2, 2.2);
            transform: translateX(-60%) translateY(-60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.leftTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(60%) translateY(60%) scale(2.2, 2.2);
            transform: translateX(60%) translateY(60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.leftCenter:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(60%) scale(2.2, 2.2);
            transform: translateX(60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.leftBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(60%) translateY(-60%) scale(2.2, 2.2);
            transform: translateX(60%) translateY(-60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minLeftTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-20%) translateY(60%) scale(2.2, 2.2);
            transform: translateX(-20%) translateY(60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minLeftCenter:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-20%) scale(2.2, 2.2);
            transform: translateX(-20%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minLeftBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-20%) translateY(-60%) scale(2.2, 2.2);
            transform: translateX(-20%) translateY(-60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minRightTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(20%) translateY(60%) scale(2.2, 2.2);
            transform: translateX(20%) translateY(60%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minRightCenter:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(20%) scale(2.2, 2.2);
            transform: translateX(20%) scale(2.2, 2.2);
  }
  .dyplomPoziom.minRightBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(20%) translateY(-60%) scale(2.2, 2.2);
            transform: translateX(20%) translateY(-60%) scale(2.2, 2.2);
  }
  .boxes .container {
    max-width: 100%;
    padding-left: 4%;
  }
  .box h6 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-left: 15px;
  }
  #mapid {
    height: 150px;
    width: 190px;
  }
  .social-links {
    width: 57%;
    margin: 40px auto;
  }
  .social-links li {
    margin: 10px;
  }
  #scroll-to-top {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 19px;
    bottom: 30px;
    right: 30px;
  }
}

@media (max-width: 320px) {
  .pion {
    width: 38%;
  }
  .poziom {
    width: 62%;
  }
  section.diplomas {
    max-height: 390px;
  }
  .dyplomPoziom.minLeftTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(25%) translateY(25%) scale(1.5, 1.5);
            transform: translateX(25%) translateY(25%) scale(1.5, 1.5);
  }
  .dyplomPoziom.minLeftCenter:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(25%) scale(1.5, 1.5);
            transform: translateX(25%) scale(1.5, 1.5);
  }
  .dyplomPoziom.minLeftBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(25%) translateY(-25%) scale(1.5, 1.5);
            transform: translateX(25%) translateY(-25%) scale(1.5, 1.5);
  }
  .dyplomPoziom.minRightTop:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-25%) translateY(25%) scale(1.5, 1.5);
            transform: translateX(-25%) translateY(25%) scale(1.5, 1.5);
  }
  .dyplomPoziom.minRightCenter:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-25%) scale(1.5, 1.5);
            transform: translateX(-25%) scale(1.5, 1.5);
  }
  .dyplomPoziom.minRightBottom:hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    transition: transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35), -webkit-transform 1s cubic-bezier(0.93, 0.44, 0.46, 1.35);
    -webkit-transform: translateX(-25%) translateY(-25%) scale(1.5, 1.5);
            transform: translateX(-25%) translateY(-25%) scale(1.5, 1.5);
  }
}
/*# sourceMappingURL=style.css.map */